@model HomeViewModel
@{
    ViewData["Title"] = "Funda Test";
}

    <div class="text-left">

        <h1>Funda Test</h1>
        <p>Met deze webapplicatie kunt u informatie over makelaars verkrijgen.</p>

        @Html.ActionLink("Makelaar Info", "MakelaarInfo")

    </div>
