@model MakelaarInfoViewModel
@{
    ViewData["Title"] = "Top 10 Makelaars";
}

    <div class="text-left">

        @if (string.IsNullOrEmpty(Model.Message))
        {
            var model = new MakelaarViewModel { Titel = "Top 10 Makelaars met meeste objecten in Amsterdam zonder tuin", Makelaars = Model.MakelaarsZonderTuin };
            <partial name="/views/shared/_Makelaar.cshtml" model="model" />
            <br />
            model = new MakelaarViewModel { Titel = "Top 10 Makelaars met meeste objecten in Amsterdam MET tuin", Makelaars = Model.MakelaarsMetTuin };
            <partial name="/views/shared/_Makelaar.cshtml" model="model" />
        }
        else
        {
            <p>
                @Model.Message
            </p>
        }

    </div>
